body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* this class will hide elements. This will be used in the javascript. */
.hide {
    display: none;
}

/* classes for the top of the page */
.score-timer {
    color: white;
    background-color: violet;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.high-score {
    text-decoration: underline;
}

/* class for the main area of the page */
.main-area {
    margin-top: -70px;
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* start page */
.start-page {
    background-color: #A8F2FB;
    margin-top: 175px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.space-quiz {
    font-size: 150%;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
}

.start-page-text {
    width: 50%;
    font-size: 120%;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
}

.start-quiz {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 7px;
}

.start-quiz:hover {
    background-color: violet;
    color: white;
}

/* question pages */
.question-container {
    margin-top: 200px;
}

.questions {
    font-size: 150%;
}

.options-container {
    list-style-type: none;
}

.options {
    background-color:violet;
    color: white;
    width: 120px;
    padding: 5px;
    margin: 10px -40px;
    border-radius: 7px;
    font-size: 100%;
}

.options:hover {
    background-color: lightblue;
}

.right-wrong {
    color: lightslategray;
    font-style: italic;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
}

/* footer of the page */
.space-footer {
    /* margin-top: 160px; */
    height: 85px;
    background-image: url(./images/Purple-Planets.jpg);
    /* position: absolute; */
    bottom: 0px
}

/* initial-page */
.initial-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 240px;
    margin-bottom: 100px;
}

.final-score {
    font-size: 100%;
}


.form {
    display: flex;
    flex-direction: row;
}

.submit {
    background-color: violet;
    color: white;
    font-size: 100%;
    margin-left: 10px;
    margin-bottom: -10px;
    padding: 7px;
    border-radius: 7px;


}

.initials {
    display: inline;
    font-weight: bold;
}

/* score page */
.high-score-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 240px;
}

.high-scores {
    margin-bottom: 10px;
}

.score-list {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 40px;
}

.scores {
    background-color: lightyellow;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    font-size: 100%;
    background-color: violet;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    margin-bottom: 55px;
}